@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

*{
  box-sizing: border-box;
}

:root {
  background-color: #000;
  color: #fff;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}